* {
    box-sizing: border-box;
}
.block {
    
    /* border: 10px groove #00ffea;
   border-top: 10px dotted #000;

   border-width: 30px;
   border-style: double;
   border-color: #09ff00;
   border-bottom: 10px solid #ea00ff; */

    border: 1px solid #000;
    border-radius: 20px;
    display: inline;
    width: 200px;
    background: plum;
    padding: 20px 10px 30px 10px;
    margin: 15px 5px 25px 15px;
    display: inline-block;
    box-shadow: inset 1px 1px 10px #4b4b4b;
}

.over {
    overflow: scroll;
    border: 1px solid #000;
    border-radius: 20px 0 0 20px;
    width: 1000px;
    height: 500px;
    Overflow-x: hidden
}